* {
  margin: 0 auto;
}

.container {
  width: 800px;
  min-height: 400px;
  justify-content: center;
  background-color: rgba(25, 4, 65, 0.842);
  display: flex;
  align-items: center;
}

button[data-button="blue"] {
  background-color: rgb(52, 82, 179);
  box-shadow: 0px 5px 0px 0px rgba(52, 82, 179, 0.45);
}

button[data-button="green"] {
  background-color: rgb(52, 179, 101);
  box-shadow: 0px 5px 0px 0px rgba(52, 179, 101, 0.45);
}

button[data-button="red"] {
  background: rgb(179, 52, 52);
  box-shadow: 0px 5px 0px 0px rgba(179, 52, 52, 0.45);
}

button[data-button="light"] {
  background: rgb(66, 131, 206);
  box-shadow: 0px 5px 0px 0px rgba(66, 131, 206, 0.45);
}

button[data-button="black"] {
  background: rgb(24, 30, 37);
  box-shadow: 0px 5px 0px 0px rgba(24, 30, 37, 0.45);
}

button[data-button="white"] {
  color: rgb(24, 30, 37);
  background: rgb(228, 224, 224);
  box-shadow: 0px 5px 0px 0px rgba(228, 224, 224, 0.45);
}

button {
  color: rgba(255, 255, 255, 0.726);
  width: 140px;
  height: 50px;
  border-radius: 5px;
  margin: 20px;
  border: 0;
}

button:hover {
  filter: brightness(110%);
}

button:active {
  filter: brightness(90%);
}
