.container {
  width: 100%;
  height: 100%;
  max-width: 960px;
  margin: 0 auto;
  box-sizing: border-box;
}

.purple {
  display: flex;
  background-color: #b02aff;
  list-style-type: none;
  padding: 8px;
}

.content {
  display: flex;
  height: 600px;
}
.yellow {
  background-color: #ffd62a;
  width: 65%;
}

.green {
  background-color: #51d400;
  width: 35%;
}

.blue {
  background-color: cyan;
  width: 100px;
  height: 15px;
  display: block;
  padding: 10px;
  margin: 10px;
}

@media screen and (min-width: 768px) {
}
