.container {
  display: flex;
  justify-content: center;
}

.item {
  width: 100px;
  height: 100px;
}

.green {
  background-color: #51d400;
}

.yellow {
  background-color: #ffd62a;
}

.purple {
  background-color: #b02aff;
}
